# Generado automáticamente por Datha 2026-07-21 09:32
# Copiar este archivo a .env y completar los valores reales.
# NUNCA commitear el .env con valores reales.

VITE_API_BASE_URL=__CAMBIAR__
#VITE_API_BASE_URL=https://datahuba.com/api
#PUBLIC_API_URL=https://datahuba.com/api
PUBLIC_API_URL=__CAMBIAR__
